<meta charset="UTF-8">
<title>Simple CRUD</title>

<link rel="stylesheet" href="/css/bootstrap.min.css"/>

<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>