<!-- <head>
    <title> 
        
        <%= 
       // siteTitle %> - 
        <%= 
        pageTitle 
        %> 
    </title>
    <% 
      //  include ../partials/head 
    %>
    <style>
        *{
             border-radius: 0px !important;
         }
    </style>
</head>
<body>
        <% 
           // include ../partials/navbar 
        %> -->









        

<head>
    <title> 
        
        <%= siteTitle %> - 
        <%= pageTitle %> 
    </title>
    <%- include ('../partials/head') %>
    <style>
        *{
             border-radius: 0px !important;
         }
    </style>
</head>
<body>
        <%- include ('../partials/navbar') %>        