<% 
    // include ../partials/header 
%>

<!-- <h1>This is a Default page</h1> -->

<%
    // include ../partials/footer/
%>








<%- include('../partials/header'); %>

<h1>This is a Default page</h1>

<%
    include ('../partials/footer/')
%>
